#menuPanel {
    position: absolute;
    background-color: rgba(255, 255, 255, 0.5);
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}

#startButton {
    top: 40%;
    text-align: center;
    position: relative;
    margin-left: 20%;
    margin-right: 20%;
    font-size: 2rem;
}

#startButton2 {
    top: 40%;
    text-align: center;
    position: relative;
    margin-left: 20%;
    margin-right: 20%;
    font-size: 2rem;
}
#actionDiv {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}
#actionText {
    top: 40%;
    color: white;
    text-align: center;
    position: relative;
    font-size: 2rem;
}

#scoreText {
    top: 3%;
    right: 3%;
    color: white;
    text-align: center;
    position: absolute;
    font-size: 2rem;
}

#menuPanel2 {
    position: absolute;
    background-color: rgba(194, 26, 26, 0.781);
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 10;
}

#loadingPanel {
    position: absolute;
    background-color: rgba(255, 255, 255, 0.5);
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}

